@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
    background: #4B144D;
    color: #2a2a2a;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 0px auto 0 auto;
    border-radius: 0px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 500px;
    margin-left: 0;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1500px;
    background: #ccc;
    text-align: center;
    line-height: 750px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 115px;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 750px 750px;
    grid-gap: 2px;
}

left,
right {
    background: #d9d3fb;
    padding: 1em;
    vertical-align: middle;
}

.interval {
    color: white;
    margin: 20px;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    max-height: 650px;
    max-width: 650px;
}

.file {
    float: right;
    padding: 16px;
}
